<h1 class="header">Welcome to Fit</h1>

<div>
	<img src="runpic.jpg" id="runpic">
</div>

<% @fitness.each do |fitness| %>
<div>
  	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-block">
	        <h3><a href="/<%= fitness.id %>"><%= fitness.title %></a></h3>
	        <p class="card-text"><%= fitness.body %></p>
	        <a href="/<%= fitness.id %>" class="btn btn-primary"><%= fitness.first_name %></a>
	        <img src="/<%= fitness.file %>">
	      </div>
	    </div>
	  </div>
	</div>
</div>	

<!-- <div>
	<input type='file' id="imgInp" onchange="readFile(this);" />
        <img id="pic" src="imgInp" alt="your image" />

</div> -->

<% end %>
