<h1 class="header">Welcome to Fit</h1>

<div>
	<img src="runpic.jpg" id="runpic">
</div>

<% @fitness.each do |fitness| %>

<div class="index">
	<div class="index">
  	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-block">
	        <h3><a href="/<%= fitness.id %>"><%= fitness.title %></a></h3>
	        <p class="card-text"><%= fitness.body %></p>
	        <a href="/<%= fitness.id %>" class="btn-btn-primary"><%= fitness.first_name %></a>
	        <img class="upload" src="/<%= fitness.file %>">
	      </div>
	    </div>
	  </div>
	</div>
	</div>	
</div>


<% end %>

<aside id="pic">
	<img src="fitness-pic.png">
</aside>