<h3>USER INFO:</h3>
<div>
	<ul>
		<h5 class="s1"> User Name: <%= @fitness.first_name %> </h5>
		<li class="s1"> Age: <%= @fitness.age %> </li>
		<li class="s1"> Gender: <%= @fitness.gender %> </li>
		<li class="s1"> Years of experince: <%= @fitness.experience %> </li>
		<li class="s1"> Date: <%= @fitness.date %> </li>
	</ul>
</div>

<div class="container">
	<div id="t2">
		<h1 id="title"> <%= @fitness.title %> </h1>
		<p> <%= @fitness.body %> </p>
	</div>
</div>



<form class="comment">
	<label id="comment">Comments</label>
	<input type="submit" name="submit">
	<textarea name="body"></textarea>

</form>


<a href=" <%= @fitness.id %>/edit">Edit Post</a>

<form action="<%= @fitness.id %>" method="post">


<div id="delete">
	<input type="hidden" name="_method" value="Delete">
	<input type="submit" name="Delete" value="Delete" >	
</div>

</form>


