
<h5 class="s1"> <%= @fitness.first_name %> </h5>
<p class="s1"> <%= @fitness.age %> </p>
<p class="s1"> <%= @fitness.gender %> </p>
<p class="s1"> <%= @fitness.experience %> </p>
<p class="s1"> <%= @fitness.date %> </p>

<div>
	<h1> <%= @fitness.title %> </h1>
	<p> <%= @fitness.body %> </p>
</div>

<form>
	<label>Comments</label>
	<input type="submit" name="submit">
	<textarea name="body"></textarea>

</form>


<a href=" <%= @fitness.id %>/edit">Edit Post</a>

<form action="<%= @fitness.id %>" method="post">


<div id="delete">
	<input type="hidden" name="_method" value="Delete">
	<input type="submit" name="Delete" value="Delete" >	
</div>

</form>


